
:root { /*copied from provided code in homeworks. Colors from https://coolors.co/edae49-d1495b-00798c-30638e-003d5b*/
    --primary: #00798c;
    --secondary: #30638e;
    --third: #003d5b;
    --fourth: #d1495b;
  }
html {
    background-color: var(--primary);
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: var(--primary);
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    height: 50px;
}
.navitem {
    width: 200px;
    background-color: var(--third);
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: var(--primary);
    border-style: solid;
    border-width: 0px 10px 0px 10px;
    color: white;
    border-radius: 50px ; /*https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/
    flex-grow: 1;
}
.largenavitem {
    width: 300px;
}
.contentGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    height: 800px;
}
.contentBlock {
    width: 200px;
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: center;
    color: white;
    font-size: 20px;
    flex-grow: 1;
}
.contentBlock.about {
    align-items: center;
}
.textbox {
    background-color: var(--secondary);
    padding: 10%;
    border-radius: 20%;
    margin: 10%;
}
.contentBlock.work {
    padding-top: 15%;
}
.contentBlock.work>* {
    display: flex;
    align-items: center;
}
.contentBlock.projects {
    flex-direction: column;
    align-items: center;
}
.contentBlock.projects >* {
    display: flex;
}
.resumeList {
    display: flex;
    list-style: none;
    flex-direction: column;
}